# MODEL_NAME=llama-3.3-70b-versatile
# MODEL_PROVIDER=groq
# MODEL_API_KEY=

MODEL_NAME=gpt-4.1-mini
MODEL_PROVIDER=openai
MODEL_API_KEY=

MODEL_MAX_TOKENS=16000
MODEL_TEMPERATURE=0.3

CORAL_SSE_URL=http://localhost:5555/devmode/exampleApplication/privkey/session1/sse
CORAL_AGENT_ID=interface_agent